/* NAVBAR */
.navbar {
  transition: 1s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.05); }
  .navbar .ph-arrow-circle-left {
    font-size: 50px; }
  .navbar .ph-shopping-cart {
    font-size: 45px; }
  .navbar .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute; }
  .navbar .nav-masthead .nav-link {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: .25rem solid transparent;
    font-size: 20px; }
  .navbar .nav-masthead .nav-link:hover,
  .navbar .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
    color: white; }
  .navbar .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff; }
  .navbar .nav-colored {
    background-color: #000; }
  .navbar .nav-transparent {
    background-color: transparent; }

/* MAIN */
.img-responsive {
  width: 100%;
  height: auto; }

.main {
  margin-top: 6rem; }
  .main .cartnBuy .btn {
    margin: 0.5rem; }
  .main .cartnBuy .ph-shopping-cart {
    font-size: 25px; }
  .main .cartnBuy .btnCart {
    width: 124px;
    margin-top: 1rem; }
  .main .cartnBuy .btnBuyNow {
    width: 124px;
    margin-top: 1rem;
    background-color: #579412;
    border-color: #66ac15;
    color: #e8e6e3; }
  .main .icons, .main a {
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.5); }
    .main .icons:hover, .main a:hover {
      color: white; }
  .main #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none; }
  .main .ph-arrow-circle-up {
    transition: 1s ease-in-out;
    font-size: 50px; }
    .main .ph-arrow-circle-up:hover {
      color: white; }

.footer .map {
  width: 90%;
  border-radius: 1%; }

.footer .ph-map-trifold {
  font-size: 50px; }
