  /* NAVBAR */
.logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(276deg) brightness(107%) contrast(104%); 
}

.logoImg {
    height: 50px;
    margin-top: 0;
    vertical-align: 0;
}

.ph-arrow-circle-left{
    font-size: 50px;
}

.navbar {
    transition: 0.4s ease-in-out; 
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-scrolled {
    transition: 1s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.05); }

.nav-masthead .nav-link {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: .25rem solid transparent;
    font-size: 20px; }

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
    color: white; }

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff; }

.nav-colored {
    background-color: #000; }

.nav-transparent {
    background-color: transparent; }

.main{
    margin-top: 6rem;
}

.carouselItem{
    object-fit: cover;
    height: 650px;
    width: 1000px;
}


.icons, a {
    text-align: end;
    text-decoration: none;
    font-size: 35px;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.5); }

a :hover {
    color: white; }


  /* MAIN */
  /* PRODUCT GRID */


.map {
    width: 90%;
    border-radius: 1%; }

.ph-map-trifold {
    font-size: 50px; }

