// HEADER

/* NAVBAR */

.navbar{

    transition: 1s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.05); 


    .ph-arrow-circle-left{
        font-size: 50px;
    }

    .ph-shopping-cart{
        font-size: 45px;
    
    }

    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
    .nav-masthead .nav-link {
        color: rgba(255, 255, 255, 0.5);
        border-bottom: .25rem solid transparent;
        font-size: 20px; 
    }
    
    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(255, 255, 255, 0.25);
        color: white; 
    }
    
    .nav-masthead .active {
        color: #fff;
        border-bottom-color: #fff; 
    }
    
    .nav-colored {
        background-color: #000; 
    }
    
    .nav-transparent {
        background-color: transparent; 
    }
}


/* MAIN */

// PRODUCT CARD

.img-responsive{
    width: 100%;
    height: auto;
}


.main{
    margin-top: 6rem;
    
    .cartnBuy{

        .btn{
            margin: 0.5rem;
        }

        .ph-shopping-cart{
            font-size: 25px;
    
        }
    
        .btnCart{
        
            width: 124px;
            margin-top: 1rem;
        }
    
        .btnBuyNow {
    
            width: 124px;
            margin-top: 1rem;
            background-color: rgb(87, 148, 18);
            border-color: rgb(102, 172, 21);
            color: rgb(232, 230, 227);
        }
    }


    .icons ,a {
        text-align: center;
        text-decoration: none;
        font-size: 35px;
        padding: 1rem;
        color: rgba(255, 255, 255, 0.5); 
        &:hover{
            color: white;
        }
    }

    #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 10px;
        display: none;
    }

    .ph-arrow-circle-up{
        transition: 1s ease-in-out;
        font-size: 50px;
        &:hover{
            color: white;
            
        }
    }
}


// FOOTER

.footer {
    
    .map {
        width: 90%;
        border-radius: 1%; 
    }
    .ph-map-trifold {
        font-size: 50px; 
    }
}


