/* GENERAL */

*{
    margin: 0;
    padding: 0;
}


/* FRONTPAGE HEIGHT */
.frontpage{
    height:100vh
}

/* NAVBAR */

.logo{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(276deg) brightness(107%) contrast(104%);
    width: 75%;
}

.logoImg{
    margin-top: auto;
    height: 50px;
    margin-left: 50px;
}

.nav{
    transition: 0.4s ease-in-out;
    height: 4rem;
    padding-top: 1rem;
}

.navbar-scrolled{
    transition: 1s ease-in-out;
    background: rgba(255,255,255,0.1);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255,255,255,0.05);

}

.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
    font-size: 20px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
    color: rgb(255, 255, 255);
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;}

.offset-anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

.infoBox{
    position: absolute;
    margin-top: 6rem;
    text-align: center;
}

.infoBox p{
    background: rgba(255,255,255,0.1);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 5px;
}

.iconBox{
    position: absolute;
    margin-top: 90vh;

}

.icons, a{
    text-align: end;
    text-decoration: none;
    justify-content: end;
    font-size: 35px ;
    padding: 1rem;
    color:rgba(255, 255, 255, .5);
    
}

a :hover{
    color: white;

}

/* BACKGROUND */

.bg-image{
    height: 100vh;
    width: 99vw;
    object-fit: cover;
    filter: brightness(120%);
    position: absolute;
    top: 0;
    left: 0;
}


/* MAIN */


/* PRODUCT GRID */

.surronLogo{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(276deg) brightness(107%) contrast(104%);
    width: 75%;
    height: 250px;
}


.main{
    text-align: center;
}

.map{
    width: 90%;
    border-radius: 1%;
}


